/*** Main Page Styling ***/
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color:  #faeed1;
  color: #874c62;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  color: #a7d2cb;
/*  text-shadow: 0.063em 0.063em 0.125em #874c62;*/
}

/*** Banner Styling ***/
.banner {
  border-bottom: solid 0.313em #874c62;
}

.profile-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-pic {
  width: 5em;
  min-width: 5em;
  height: 5em;
  min-height: 5em;
  border-radius: 50%;
  border: solid 0.063em #874c62;
  box-shadow: 0.125em 0.125em 0.125em 0.125em rgba(135, 76, 98, 0.5);
  margin: 0.625em;
}

.profile-intro {
  margin: 0 0.625em;
  text-align: center;
}

.heading {
  margin: 0.625em;
  text-align: center;
}

/**** Gallery Styling****/

.content {
  padding: 0.625em;
}

#sub-title-b {
  margin-bottom: 0.313em;
}

.selectors {
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.selectors li {
  list-style: none;
  list-style-position: inside;
}

.selectors li button,
#btn-name { 
  margin: 0.313em;
  padding: 0.625em;
  background-color: #a7d2cb;
  color: #874c62;
  font-size: .75em;
  font-weight: bold;
  border-radius: 0.313em;
  border: solid 0.125em #874c62;
  box-shadow: 0.25em 0.25em 0.125em #999;
  transition: all 0.5s ease;
}

#btn-name {
  padding: 0.175em 0.313em;
}

.selectors li button:hover,
.selectors li button:focus,
#btn-name:hover,
#btn-name:focus {
  background-color: #874c62;
  color: #faeed1;
}

.selected {
  background-color: #874c62;
  color: #faeed1;
}

.photos {
  background-color: #faeed1;
  border: solid 0.125em #874c62;
  box-shadow: 0.25em 0.25em 0.125em #999;
  border-radius: 0.313em;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.625em;
/*  display: none;*/
}

#photos-m {
  display: none;
}

#photos-b {
  margin-top: 0.313em;
}

.column,
.movie-thumb{
  background: #a7d2cb;
  padding: 0.938em;
  border-radius: 0.313em;
  margin: 0.25em;
}

.column img {
  height: 3.75em;
  width: 3.75em;
}

.movies {
  height: 5.75em;
  width: 3.75em;
}

.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
}

/**** Lightbox Background ****/
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 6.25em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}


/**** Lightbox Content ****/
.lightbox-content,
.movie-lightbox,
.movie-sorted-lightbox {
  position: relative;
  background-color: #a7d2cb;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 75em;
}

.close-cursor,
.movie-close-cursor,
.movie-sorted-close {
  color: #fff;
  position: absolute;
  top: 0.625em;
  right: 1em;
  font-size: 2.25em;
  font-weight: bold;
  transition: .5s ease;
}

.close-cursor:hover,
.close-cursor:focus,
.movie-close-cursor:hover,
.movie-close-cursor:focus,
.movie-sorted-close:hover,
.movie-sorted-close:focus {
  transform: scale(1.5);
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.music-slides,
.movie-slides {
  display: none;
}

.prev,
.next,
.movie-next,
.movie-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1em;
  margin-top: -3.125em;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  transition: 0.6s ease;
  border-radius: 0 0.188em  0.188em 0;
}

.next,
.movie-next {
  right: 0;
  border-radius: 0.188em 0 0 0.188em;
}

.prev,
.movie-prev {
  left: 0;
}

.prev:hover,
.next:hover,
.movie-next:hover,
.movie-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption,
.movie-caption {
  position: absolute;
  background-color: #faeed1;
  color: #874c62;
  text-align: center;
  width: 100%;
}

.caption {
  bottom: 0;
}

.lightbox-name {
  margin: 0;
}

.movie-poster {
  width: 100%;
}

.lightbox-url {
  cursor: pointer;
  color: #4e978b;
  transition: .5s ease;
}

.lightbox-url:hover,
.lightbox-url:focus {
  color: #874c62;
}

.movie-slides-sorted {
  background-color: #faeed1;
  color: #874c62;
  padding: 0.313em;
  width: 90%;
  margin: auto;
  text-align: center;
}

footer {
  text-align: center;
}

@media screen and (min-width: 768px) {

  h1, h2 {
    font-size: 2.5em;
  }
    
  .profile-pic {
    width: 12em;
    height: 12em;
    margin-top: 2.25em;
    margin-left: 2.25em;
    box-shadow: 0.25em 0.25em 0.25em 0.25em rgba(135, 76, 98, 0.5);
  }
  
  .profile-intro {
    margin: 0.938em;
    font-size: 1.25em;
  }
  
  .content {
    padding: 0.938em;
    text-align: center;
  }
  
  .title {
    margin: 0;
    padding-bottom: 0.313em;
  }

  .selectors {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .selectors li {
    font-size: 1.25em;
  }
  
  .selectors li button {
    padding: 1em;
  }
  
  #btn-name {
    padding: 0.313em 0.625em;
  }
  
  .photos {
    margin-left: auto;
    margin-right: auto;
  }
  
  .column img {
  height: 6em;
  width: 6em;
  }
   
  .movies {
  height: 9em;
  width: 6em;
  }
  
  .movie-poster {
    width: 40%;
  }

} /**** end 768 media query****/


@media screen and (min-width: 1024px) {

  .profile-pic {
    width: 15em;
    height: 15em;
    box-shadow: 0.375em 0.375em 0.125em 0.375em rgba(135, 76, 98, 0.5);
  }
  
  .profile-intro {
    font-size: 1.5em;
  }
  
  .heading {
    font-size: 3.5em;
  }
  
  .column img {
  height: 8em;
  width: 8em;
  }
  
  .movies {
  height: 12em;
  width: 8em;
  }
  
  #btn-name {
    padding: 0.625em 0.9em;
  }
  
} /*** end 1024 media query****/
