/*** Main Page Styling ***/
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color:  #faeed1;
  color: #874c62;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  color: #a7d2cb;
/*  text-shadow: 0.063em 0.063em 0.125em #874c62;*/
}

/*** Banner Styling ***/
.banner {
  border-bottom: solid 0.313em #874c62;
}

.profile-container {
  justify-content: space-between;
  align-items: center;
}

.profile-pic {
  width: 5em;
  min-width: 5em;
  height: 5em;
  min-height: 5em;
  border-radius: 50%;
  border: solid 0.063em #874c62;
  box-shadow: 0.125em 0.125em 0.125em 0.125em rgba(135, 76, 98, 0.5);
  margin: 0.625em;
}

.profile-intro {
  font-size: 0.75em;
  margin: 0.625em;
}

.heading {
  margin-left: 0.625em;
}

/**** Gallery Styling****/

.content {
  padding: 0.625em;
}

.selectors {
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.selectors li {
  list-style: none;
  list-style-position: inside;
}

.selectors li button { 
  margin: 0.313em;
  padding: 0.625em;
  background-color: #a7d2cb;
  color: #874c62;
  font-size: .75em;
  font-weight: bold;
  border-radius: 0.313em;
  border: solid 0.125em #874c62;
  box-shadow: 0.25em 0.25em 0.125em #999;
  transition: all 0.5s ease;
}

.selectors li button:hover,
.selectors li button:focus {
  background-color: #874c62;
  color: #faeed1;
}

.selected {
  background-color: #874c62;
  color: #faeed1;
}

.photos {
  background-color: #faeed1;
  border: solid 0.125em #874c62;
  box-shadow: 0.25em 0.25em 0.125em #999;
  border-radius: 0.313em;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.625em;
  display: none;
}

.column {
  background: #ddd;
  padding: 0.938em;
  border-radius: 0.313em;
  margin: 0.25em;
}

.column img {
  height: 3.75em;
  width: 3.75em;
}

.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
}

/**** Lightbox Background ****/
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 6.25em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/**** Lightbox Content ****/
.lightbox-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 75%;
  max-width: 75em;
}

.close-cursor {
  color: #a7d2cb;
  position: absolute;
  top: 0.625em;
  right: 1.5em;
  font-size: 2.25em;
  font-weight: bold;
  transition: .5s ease;
}

.close-cursor:hover,
.close-cursor:focus {
  transform: scale(1.5);
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1em;
  margin-top: -3.125em;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  transition: 0.6s ease;
  border-radius: 0 0.188em  0.188em 0;
}

.next {
  right: 0;
  border-radius: 0.188em 0 0 0.188em;
}

.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption {
  position: absolute;
  bottom: 0.625em; 
  background-color: #faeed1;
  color: #874c62;
  padding: 0.313em;
  text-align: center;
}

.lightbox-url {
  cursor: pointer;
  color: #874c62;
  transition: .5s ease;
}

.lightbox-url:hover,
.lightbox-url:focus {
  color: #a7d2cb;
}


@media screen and (min-width: 768px) {

  h1, h2 {
    font-size: 2.5em;
  }
    
  .profile-pic {
    width: 12em;
    height: 12em;
    margin-top: 2.25em;
    margin-left: 2.25em;
    box-shadow: 0.25em 0.25em 0.25em 0.25em rgba(135, 76, 98, 0.5);
  }
  
  .profile-intro {
    margin: 0.938em;
    font-size: 1.25em;
  }
  
  .heading {
    text-align: center;
  }
  
  .content {
    padding: 0.938em;
    text-align: center;
  }
  
  .title {
    margin: 0;
    padding-bottom: 0.313em;
  }

  .selectors {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .selectors li {
    font-size: 1.25em;
  }
  
  .selectors li button {
    padding: 1em;
  }
  
  .photos {
    margin-left: auto;
    margin-right: auto;
  }
  
  .column img {
  height: 6em;
  width: 6em;
  }
    
  

} /**** end 768 media query****/


@media screen and (min-width: 1024px) {

  .profile-container {
    justify-content: flex-start;
  }
  
  .profile-pic {
    width: 20em;
    height: 20em;
    margin-right: auto;
    box-shadow: 0.375em 0.375em 0.125em 0.375em rgba(135, 76, 98, 0.5);
  }
  
  .profile-intro {
    font-size: 1.5em;
  }
  
  .heading {
    font-size: 3.5em;
    margin: 0 0 0.313em 0;
  }
  
  
  .column img {
  height: 8em;
  width: 8em;
  }
  
} /*** end 1024 media query****/


@media screen and (min-width: 1600px) {
  .profile-pic {
    margin-left: 0.625em;
   }
  
  .profile-intro {
    margin-right: 0.625em;
  }

}