// Font Variables

$font-primary: 'Open Sans', 'sans-serif';
$font-secondary: 'Kaushan Script', 'cursive';


// Color Variables

$champagne: #faeed1;
$cannon-pink: #874c62;
$jet-stream: #a7d2cb;

//Media Query Variables

$bp-medium: 768px;
$bp-large: 1024px;